.grid {
    background-color: lightblue;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 960px;
    width: 960px;
    align-items: center;
}

.row {
    display: flex;
    gap: 1px;
    justify-content: center;
}

.hover {
    background-color: lightgrey;
    scale: 1.3;
}

.clicked {
    background-color: black;
}